.like
  - if likeable.likes.first
    = link_to "Unlike", [likeable, likeable.likes.first], remote: true, method: :delete
  - else
    = link_to "Like", [likeable, Like.new], remote: true, method: :post
  = "(#{likeable.likes.count})"